.toggle-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-button {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-button.toggled {
    background-color: #4caf50;
  }
  
  .toggle-circle {
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
  }
  
  .toggle-button.toggled .toggle-circle {
    left: 26px;
  }
  
